#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
 /* background-image: url(weatherimg.jpg);*/
  background-repeat: no-repeat;
  background-size: cover;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  height: 100vh;
}

.weather-wrapper {
  backdrop-filter: blur(15px);
  position: relative;
  top: 30%;
  min-width: 540px;
  max-width: 50%;
  margin: auto;
  padding: 2em;
  display: flex;
  flex-direction: column;
  place-items: center;
  justify-content: space-between;
}

h1 {
  margin-bottom: 20px;
  color: rgb(216, 213, 191);
}

#search {
  border-radius: 5px 0 0 5px;
  border: 2px solid rgb(216, 213, 191);
  background-color: rgb(237, 236, 224);
  padding: 10px;
  font-size: 16px;
  width: 70%;
  height: 42px;
}

#submit {
  border-radius: 1px 5px 5px 1px;
  border: 2px solid rgb(216, 213, 191);
  background-color: rgb(216, 213, 191);
  color: rgba(111, 111, 111, 1);
  padding: 10px;
  font-size: 16px;
  width: 5em;
  cursor: auto;
}

#weather-search {
  display: flex;
  width: 50%;
}
.weather-data {
  color: rgb(216, 213, 191);
  border-radius: 5px;
  padding: 1.5em;
  margin-top: 20px;

  text-align: center;
  display: flex;         /* replaces align-items properly */
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.weather-data img {
  border-radius: 50%;
  background-color: lightskyblue;
}
